<div>

    <h2>Scores</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                
                <th>score</th>
                
                <th>date</th>
                
                <th>questionsCount</th>
                
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="scores in scores">
                
                <td>{{scores.score }}</td>
                
                <td>{{scores.date  | date:'yyyy-MM-dd'}}</td>
                
                <td>{{scores.questionsCount }}</td>
                
                <td>
                    <button type="submit"
                            ng-click="delete(scores.id)"
                            class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span> Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
