<div>

    <h2>Questions</h2>


    <a  href="/#/questions/add" class="btn btn-primary btn-lg" >
         Create a new Question
    </a>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                
                <th>question</th>
                
                <th>correctAnswer</th>
                
                <th>option1</th>
                
                <th>option2</th>
                
                <th>option3</th>
                
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="questions in questions">
                <td>{{questions.id}}</td>
                
                <td>{{questions.question }}</td>
                
                <td>{{questions.correctAnswer }}</td>
                
                <td>{{questions.option1 }}</td>
                
                <td>{{questions.option2 }}</td>
                
                <td>{{questions.option3 }}</td>
                
                <td>
                    <button type="submit"
                            ng-click="update(questions.id)"
                            class="btn">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                    <button type="submit"
                            ng-click="delete(questions.id)"
                            class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span> Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
